@charset 'utf-8';

$space:8px;

.container{
    padding:$space;
}

body{
    font-size: 14px;
}

//TODO:これを外す
body{
    //background-color: white;
}
#title{
    //display: none;
}

#index{
    display:none;
}
#login{
    display: none;
    #firebaseui-auth-container{
        margin:auto;
    }
}
#mypage{
    display: none;
}
#about{
    display:none;
    iframe{
        margin: auto;
    }
}

header{
    border-bottom: 1px solid #8CD790;
    background-color: #8CD790;
    .container{
        #logo{
            margin-left: $space;
            width:150px * 1.05;
            height: 41px * 1.05;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav{
            display: flex;
            justify-content:flex-start;
            align-items: center;
            padding-left: $space*2;
            li{
                transition: 0.5s;
                list-style: none;
                width: 180px;
                padding:$space*1.5;
                border-left: 1px #fff solid;
                color: #fff;
                font-size: 1.1rem;
            }
            li:hover{
                transition: 0.5s;
                background-color: #77AF9C;
            }
    
        }
    }
}

main{
    .container{
        display: flex;
        justify-content: flex-start;
        #translation{
            border: 1px solid #8CD790;
        }
        .content{
            padding: $space;
            padding-top: 0px;
            border-right: 1px solid #757575;
        }
    }

    #progra-title{
        width: calc(100% - 130px);
        margin-left: $space;
        margin-right: $space;
        border-radius: 4px;
        border: 1px solid #eee;
        outline:0;
    }
    ::placeholder{
        margin-left: $space;
        font-size: 1rem;
    }
    
    .save{
        transition: 0.5s;
        width: 130px;
        background-color: #77AF9C;
        color:white;
        //border: 1px solid #77AF9C;
        border-radius: 4px;
        padding:4px 16px;
        p{
            font-size: 1.1rem;
        }
    }
    .save:hover{
        transition: 0.5s;
        background-color: #8CD790;
    }

    h1{
        width: 100%;
        font-size: 1.3rem;
        font-weight: bold;
        padding: $space;
        border-top: 1px solid #77AF9C;
        border-bottom: 1px solid #77AF9C;
    }


    h2{
        font-size: 1.2rem;
        font-weight: bold;
        //color: white;
        padding: $space;
        // margin: $space;
        border-top: 1px solid #77AF9C;
        border-bottom: 1px solid #77AF9C;
        //background-color: #77AF9C;
        //border-radius: 4px;
        margin-bottom: $space;
        span{
            font-weight: 900;
            color: #77AF9C;
        }

    }
}

#editor{
    width: 400px;
    height: 600px;
}

#grammer{
    //background-color: yellow;
    p{
        transition: 0.5s;
        border-radius: 4px;
        padding: 8px;
        span{
            padding:2px;
            border-radius: 4px;
            background-color: #8cd790;
            font-size: 1.1rem;
            //font-weight: bold;
            //color:#8cd790;
        }
    }
    .func{
        //background-color: #c5e99b;
        padding: $space;
        transition: 0.5s;
        border: 1px solid #c5e99b;
        border-radius: 4px;
        div{
            border: 1px solid #c5e99b;
            background-color: #fff;
            margin: $space;
        }
        span{
            font-size: 1.1rem;     
        }
    }
    p:hover{
        transition: 0.5s;
        background-color: #c5e99b;
        //border: 1px solid #c5e99b;
        border-radius: 4px;
    }
    .func:hover{
        transition: 0.5s;
        background-color: #c5e99b;   
        border-radius: 4px;
    }
}

#graphic{
    //background-color: aqua;
    h3{
        font-size: 1.1rem;
        border-bottom: 1px solid #c5e99b;
        margin-bottom: $space;
        padding-left: $space;
    }
    p{
        padding-left: $space;
        padding-bottom: $space;
    }
}

#my-codes{
    display: flex;
    flex-wrap: wrap;
    .card{
        width: 300px;
        border: 1px solid #77AF9C;
        border-radius: 4px;
        margin: $space;
        padding: $space;
    }
    .card-title{
        padding-bottom: $space;
        color: #77AF9C;
        border-bottom: 1px solid #77AF9C;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .card-date{
        padding: $space;
    }
    .card-desc{
        background-color: #757575;
        color: #fff;
        padding: $space;
    }
}



footer{
    background-color: #8CD790;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    height: 3.5rem;
    z-index: 100;
    .container{
        padding-top: 0px;
        padding-bottom: 0px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        #localization{
            height: 32px;
            img{
                margin-left: $space;
                margin-right: $space;
                width: 50px;
                height: 32px;
            }
        }
    }
}